<!DOCTYPE html>
<html lang="it">

<head>
    <script type="text/javascript" src="funzioniIndex.js"></script>
    <link rel="shortcut icon" href="">
    <title> Index BeService </title>

</head>

<body>
    <h1>
        Benvenuti nella pagina di BeSErvice <br>


    </h1>
    <h1>
        <p>
            Gestionale BeService<b> <br>
                <img src="BeService.jpg " alt="immagine non disponibile" />

    </h1>
    <h2>
        <form method="post" action="/indexcontroller/loginform">
            <fieldset>
                <legend>Login User </legend>
                <label for="username">username</label>
                <input name="username" th:field="*{username}">


                <label for="password">password</label>
                <input name="password" th:field="*{password}">

            </fieldset>

            <button name="invia" type="submit">Invia</button>
            <button name="annulla" type="button">Annulla </button>

        </form>

        <br>
        <br>
        <br>

        <form method="post" action="/indexcontroller/signupform">


            <fieldset>
                <legend>Signup User </legend>
                <label for="username">username</label>
                <input name="username">


                <label for="password">password</label>
                <input name="password">

                <label for="nome">nome</label>
                <input name="nome">

                <label for="cognome">cognome</label>
                <input name="cognome">

                <label for="email">email</label>
                <input name="email">
            </fieldset>

            <button name="invia" type="submit">Invia</button>
            <button name="annulla" type="button">Annulla </button>

        </form>
        <br>


        <fieldset>
            <legend> Cerca Fattura </legend>
            <label for="username">Numero Fattura</label>
            <input type="number" id="numeroFatturaFind">
        </fieldset>
        <button id="cercaFatturaButton"> Cerca</button>
        <button name="annulla" type="button">Annulla </button>
        <br />
        <br />

        <fieldset>
            <legend> Inserisci Fattura </legend>
            <label for="data">Data Fattura</label>
            <input type="datetime-local" id="dataFattura" name="inputFattura">
            <label for="numero">Numero Fattura</label>
            <input type="number" id="numeroFattura" name="inputFattura">
            <label for="anno">Anno</label>
            <input type="number" id="annoFattura" name="inputFattura">
            <label for="importo">Importo</label>
            <input type="number" id="importoFattura" name="inputFattura">
            <label for="partitaIva">Partita Iva Cliente</label>
            <input type="text" id="partitaIva" name="inputFattura">
        </fieldset>
        <button id="inserisciFattura"> Inserisci</button>
        <button name="annulla" type="button">Annulla </button>

    </h2>
    <button id="clicca"> clicca </button>

    <script type="text/javascript">

        // PRIMA FUNZIONE VEDI LISTA COMUNI
        document.getElementById("clicca").onclick = function () { cambiaPagina("reportComuni.html") }

        // SECONDA FUNZIONE CERCA PER ID CON VISUALIZZAZIONE FATTURA
        document.getElementById("cercaFatturaButton").onclick = function () {
            let inputNumeroFattura = document.getElementById("numeroFatturaFind");
            cercaFattura(event, inputNumeroFattura);
        }


        // TERZA FUNZIONE INSERIMENTO FATTURA
        document.getElementById("inserisciFattura").onclick = function () {
            let inputFattura = document.getElementsByName("inputFattura");
            inserisciFattura(event, inputFattura);
        }

    </script>


</body>

</html>